%h2.title== Viewing all #{current_resource_name.pluralize}

- column_names = default_collection_columns

= will_paginate collection

%table
  %thead
    %tr
      %th Title
      %th Published At
      %th Format
      %th &nbsp;
  %tbody
    - collection.each do |page|
      %tr{:class => cycle('odd', 'even')}
        %td= link_to page.title, [:admin, page]
        %td= formatted_published_time page
        %td= page.format.to_s.humanize
        %td.actions= individual_resource_links page
    = empty_row_for_collection 3
        
= will_paginate collection