%nav#header-menu
  %ul
    = ml "Home", :root
    = ml "About Me", "#"
    = ml "Archives", "#"
    = ml "Projects", "#"
    = ml "Search", "#"
    = ml "Contact Me", "#"

%h1= link_to "Eoraptor", :root
