%ul
  = ml "Home", :root
  - Page.ordered_for_menu.find_each do |page|
    = ml page.title, page_path(page)
  = ml "Archives",   :post_archives
  = ml "Projects",   :projects
  = ml "Contact Me", :contact_me