%h2.title== Viewing #{current_resource_name}

= show_for resource do |r|
  
  = r.attribute :id
  
  = r.attribute :name
  
  = r.attribute :published_at
  
  = r.attribute :format
  
  = r.attribute :description do
    .content-preview= resource.description_as_html
    
  = r.attribute :github_user
  
  = r.attribute :github_repository
  
  - if resource.github_url.present?
    = r.attribute :github_url do
      = link_to resource.github_url, resource.github_url
    
  
    