= form.inputs :name => "General Post Details" do
  = form.input :title 
  = form.input :published_at
  
= form.inputs :name => "Post Contents" do
  = form.input :format, :as => :select, :collection => AlmostHappy::Convertor.for_select, :include_blank => false
  ~ form.input :summary, :input_html => {:rows => 5}
  ~ form.input :content, :input_html => {:rows => 25}
