%h2.title== Viewing #{current_resource_name}

= show_for resource do |r|

  = r.attribute :id

  = r.attribute :title
  
  = r.attribute :published_at
  
  = r.attribute :format
  
  = r.attribute :summary do
    .content-preview= resource.summary_as_html
    
  = r.attribute :content do
    .content-preview= resource.content_as_html

  = r.attribute :preview_url do
    = link_to "Preview Post", post_url(resource.preview_key)
