!!! 5
%html{:lang => "en", :dir => "ltr"}
  %head
    %title== #{page_title} - Ninjas on a Penny Farthing
    /[if lte IE 9]
      = include_javascripts :html5_shiv
    = include_stylesheets(:base, :media => 'screen, projection')
    = include_javascripts :base
    = csrf_meta_tag
    = yield :extra_head
    
  %body
    = flash_messages :alert, :notice
    %header= render :partial => 'shared/header'
    
    #container
      %section#content
        #inner-content= yield
      %footer= render :partial => 'shared/footer'
    = yield :page_bottom
    = google_analytics