!!! 5
%html{:lang => "en", :dir => "ltr"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %title== #{page_title} - Ninjas on a Penny Farthing
    /[if lte IE 9]
      = include_javascripts :html5_shiv
    = include_stylesheets(:base, :media => 'screen, projection')
    = include_javascripts :base
    = csrf_meta_tag
    - if Settings.twitter.user?
      = meta_tag "twitter-user", Settings.twitter.user.to_s
    = yield :extra_head
    = auto_discovery_link_tag :rss, post_rss_feed_url, :title => "Summarized RSS Feed"
    = auto_discovery_link_tag :rss, full_post_rss_feed_url, :title => "Full RSS Feed"
  %body
    = flash_messages :alert, :notice
    %header= render :partial => 'shared/header'
    
    #container
      %section#content
        = render :partial => 'shared/tweet_container'
        #inner-content= yield
      %footer= render :partial => 'shared/footer'
    = yield :page_bottom
    = google_analytics